- @pdfs.each do |pdf|
  = link_to (image_tag pdf.file_url(:thumb_pdf)), pdf.file_url

= simple_form_for Pdf.new, url: pdfs_path do |f|
  = f.input :file, as: :file, input_html: { multiple: true, name: "pdf[file]"}
  = f.button :submit
%br
  = link_to "Go to Content", contents_path
